@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
$font1: "Poppins", sans-serif;
$font2: "Hind Siliguri", sans-serif;
$font3: "Poppins", sans-serif;
$white: #fcfcfc;
$black: #030303;
$dark: #0e0e0e;
$dark2: #121313;
$orange: #fb8500;
.white{
    font-weight: 500;
}
.orange{
    font-weight: 500;
	color: $orange;
}